<!--Test Details Component-->

<body>
<div class="container ">
    <div class="col-sm-12">
    <div >
        <h1 style="text-align:left;padding-top: 30px;"> Test Details</h1>
    <div style="text-align: left; padding-top: 10px;">
   
        <div>
            <label> <strong> Test Id: </strong></label> {{tests.testId}}
        </div>
        <div>
            <label> <strong> Test Name: </strong></label> {{tests.name}}
        </div>
        <div>
            <label> <strong> Test Type: </strong></label> {{tests.type}}
        </div>
        <div>
            <label> <strong> Test Description: </strong></label> {{tests.description}}
        </div>
        <div>
            <label> <strong> Cost: </strong></label> {{tests.cost}}
        </div>
        <button style="text-align:center;" class="btn btn-info" (click)="goToTestsList()">Go Back</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../admin-service">Admin Page</button>
        <button style="margin-left: 10px;" class="btn btn-info" routerLink="../../home">LogOut</button>
    </div>

</div>
</div>
</div>
</body>

